.answer-0 {
    color: #C70000;
}
.answer-1 {
    color: #DE7607;
}
.answer-2 {
    color: #EAB000;
}
.answer-3 {
    color: #499A26;
}
.answer-4 {
    color: #376BBD;
}
.answer-5 {
    color: #46259A;
}